// 변수선언
$myFont: '맑은 고딕', sans-serif;
$myColor: pink;
$bigFontSize: 30px;
$baseFontSize: 14px;
$boxWidth: 500px;

// 변수는 컴파일되지 않는다.

body{
    font-family: $myFont;
    font-size: $baseFontSize;
    color: $myColor;
}

h1{
    font-size: $bigFontSize;
}

div{
    width: $boxWidth;
    background-color: $myColor;
}