section {
    border: 0px solid blue;
    width: 100%;
}

section > #how_to_use{
    border: 0px solid green;
    width: 100%;
    display: flex;

}

section > #how_to_use > .use1{
    border: 0px solid brown;
} 

section > #how_to_use > .use2{
    border: 0px solid purple;
}

section > #find_store{
    border: 0px solid red;
}

section > #find_store > .find{
    border: 0px solid #03afd0;
    text-align: center;
}

section > #find_store > .find > .four{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 55px;
}

section > #find_store > .find > .custom{
    font-size: 24px;
}

section > #find_store > .find_button{
    text-align: center;
}

section .category ul{
    display: flex;
    justify-content: center;
    justify-content: space-between
}
section .category li{
    border: 0px solid #11ab66;
    width: 125px;
    text-align: center;
    font-size: 1.2em;
}


section #delivery_num{
    border: 0px solid #6633bb;
    width: 100%;
    height: 200px;;
}

section #delivery_banner{display: flex;}

section #delivery_banner > #home{
    display: flex;
    flex-direction: column;
}



section #home,
        #num{
            border: 0px solid blue;
            width: 50%;
        }

section #cs_call{
    width: 50%;
    border: 0px solid red;
}

