#content{
    border: 0px solid green;
    width: 1000px;
    margin: 5px auto;
}

#content > #section1{
    width: 1000px;
    margin: 0px auto;
    border: 0px solid red;
    overflow: hidden; /*float의 부모에 주는 속성*/
}

#content > #section1 .banner1,
#content > #section1 .banner2{
    height: 400px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 400px;
    float: left;
}
#content > #section1 .banner1{
    width: 700px;
}
#content > #section1 .banner2{
    width: 295px;
}

#content > #section2{
    width: 1000px;
    border: 0px solid green;
    margin: 0px auto;
    text-decoration: none;
}

#content .hit_product,
#content .md_product{
    width: 1000px;
    border: 0px solid blue;
    overflow: hidden;
    
}

#content .hit_product li,
#content .md_product li{
    border: 1px solid #ccc;
    width: 245px;
    height: 400px;
    margin: 1px;
    text-align: center;
    line-height: 400px;
    float: left;
}

#content .hit_product a,
#content .md_product a{
    color: black;
}