#content{
    width: 1000px;
    margin: 0px auto;
    border: 0px solid red;
    overflow: hidden;
}

#content > #main_nav{
    border: 0px solid blue;
    width: 155px;
    float: left;
}

#content > #main{
    border: 0px solid green;
    width: 600px;
    float: left;
}

#content > #main_banner{
    border: 0px solid red;
    width: 230px;
    float: left;
}

#content > #main_nav li{
    height: 35px;
}

#content > #main > div{
    width: 590px;
    border: 1px solid #ccc;
    margin-top: 2px;
}

#content > #main > div:nth-child(1){
    height: 300px;
}

#content > #main > div:nth-child(2){
    height: 150px;
}

#content > #main > div:nth-child(3){
    background-color: #500955;
    height: 50px;
}

#content > #main > div:nth-child(3) ~ div{
    height: 120px; 
}

#content > #main > div:nth-child(3) li{
    float: left;
    font-size: 1.2em;
    color: #fff;
    margin-right: 18px;
}

#content > #main_banner > div{
    border: 1px solid #ccc;
    width: 230px;
    margin-top: 5px;
}

#content > #main_banner > div:nth-child(1),
#content > #main_banner > div:nth-child(2){
    height: 100px;
}

#content > #main_banner > div:nth-child(3){
    height: 150px;
}

#content > #main_banner > div:nth-child(4){
    height: 200px;
}

#content > #main_banner > div:nth-child(5){
    height: 300px;
}